<div class="form myForm"  [ngClass]="formStatus">
  <h2 id="registration">Registration Form</h2>
  <form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()"> 

    <div formGroupName="personalDetails">
        <label for="fname">First Name</label>
        <input type="text" id="fname" placeholder="Your name..." formControlName="firstname"> 
        <div>
          <small *ngIf="reactiveForm.get('personalDetails.firstname').errors?.['required']">First name is a required field</small>
          <small *ngIf="reactiveForm.get('personalDetails.firstname').errors?.['noSpaceAllowed']">First name can not contain a space.</small>
        </div>
    
        <label for="lname">Last Name</label>
        <input type="text" id="lname" placeholder="Your last name..." formControlName="lastname">
        <div>
          <small *ngIf="reactiveForm.get('personalDetails.lastname').errors?.['required']">First name is a required field</small>
          <small *ngIf="reactiveForm.get('personalDetails.lastname').errors?.['noSpaceAllowed']">First name can not contain a space.</small>
        </div>

        <label for="email">Email</label>
        <input type="email" id="email" name="email" placeholder="Your last email.." formControlName="email">
        <div>
          <span style="color: red"
          *ngIf="!reactiveForm.get('personalDetails.email').valid && reactiveForm.get('personalDetails.email').touched">
            The email you enter is not a valid email.</span>
        </div>
      </div>

      <label for="country">Country</label>
      <select id="country" formControlName="country">
        <option value="australia">Australia</option>
        <option value="canada">Canada</option>
        <option value="usa">USA</option>
      </select>

      <label for="gender">Gender:</label>
        <input type="radio" id="male" value="male" formControlName="gender">
        <label for="male">Male</label>
        <input type="radio" id="female" value="female" formControlName="gender">
        <label for="female">Female</label>
        <input type="radio" id="other" value="other" formControlName="gender">
        <label for="other">Other</label>
      <br><br>

      <label>Hobbies <i>(Optional)</i></label>
      <div class="form-inline">
          <label><input type="checkbox" value="sports" formControlName="hobbies"> Sports</label>
          <label><input type="checkbox" value="movies" formControlName="hobbies"> Movies</label>
          <label><input type="checkbox" value="music" formControlName="hobbies"> Music</label>
      </div>
      <br>
      <div formArrayName="skills"> Skills
        <ng-container *ngFor="let skill of reactiveForm.get('skills')['controls'];index as i">
          <input type="text" placeholder="add skill.." formControlName="{{i}}">
        </ng-container>
        <button (click)="addSkills()">+ Add Skills</button>
        
      </div>

      <input type="submit" value="Submit" id="btn">
    </form>
</div>