<div class="main-container">
  <div class="nav-container">
      <ul>
          <li [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}"><a routerLink="">Home</a></li> <!-- USE routerlink INSTEAD of href: href will reload / restart the app everytime you are linked and you don't want that. routerlink doesnt!-->
          <li [routerLinkActive]="'active'"><a [routerLink]="['About']">About</a></li>
          <li [routerLinkActive]="'active'"><a [routerLink]="['Contact']">Contact</a></li>
          <li [routerLinkActive]="'active'"><a [routerLink]="['Courses']">Courses</a></li>
          <li [routerLinkActive]="'active'"><a [routerLink]="['Login']">Login</a></li>
          <!-- <li [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}"><a routerLink="" fragment="Home">Home</a></li> <!-- USE routerlink INSTEAD of href: href will reload / restart the app everytime you are linked and you don't want that. routerlink doesnt!-->
          <!-- <li [routerLinkActive]="'active'"><a routerLink="" fragment="About">About</a></li>
          <li [routerLinkActive]="'active'"><a routerLink="" fragment="Contact">Contact</a></li>
          <li [routerLinkActive]="'active'"><a routerLink="" fragment="Courses">Courses</a></li> -->
      </ul>
  </div>
  <div class="component-container">
      <!-- <app-home id="Home"></app-home>
      <app-about id="About"></app-about>
      <app-contact id="Contact"></app-contact>
      <app-courses id="Courses"></app-courses> -->
      <router-outlet></router-outlet>
  </div> 
</div>
