.comp1-component{
  border: #bbb 2px solid;
  padding: 40px 85px;
  margin: 10px 10px;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}